@import "tailwindcss";

body {
  margin: 0;
  background-color: #050b14; /* Un fond très sombre propre au style */
  color: #f8fafc;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Style personnalisé pour la scrollbar fine du chat */
.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 9999px;
}